---
import Head from '@/components/Head.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import { Breadcrumbs } from '@/components/ui/breadcrumb'
import { Link } from '@/components/ui/link'
import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'
---

<!doctype html>
<html lang="it" xml:lang="it">
  <head>
    <Head title="Pagina non trovata" description="La pagina che stai cercando non esiste o è stata spostata." />
    <meta name="robots" content="noindex" />
  </head>
  <body>
    <Header />
    <main id="main-content" class="mx-auto flex max-w-3xl flex-col gap-8 px-4 lg:px-0 py-4">
      <Breadcrumbs client:load items={[{ label: '404' }]} />

      <section class="flex flex-col items-center justify-center gap-y-4 text-center">
        <div class="max-w-md">
          <h1 class="mb-4 text-3xl font-medium">404: Pagina non trovata</h1>
          <p class="prose">Oops! La pagina che stai cercando non esiste.</p>
        </div>
        <Link
          href="/"
          underline={false}
          variant="button"
          className={cn(buttonVariants({ variant: 'outline' }), 'flex gap-x-1.5 group text-foreground')}
          aria-label="Torna alla homepage"
        >
          Vai alla home page
        </Link>
      </section>
    </main>
    <Footer />
  </body>
</html>
