---
import BlogCard from '@/components/BlogCard.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import { buttonVariants } from '@/components/ui/button'
import { SITE } from '@/consts'
import Layout from '@/layouts/Layout.astro'
import { getAuthorById, getRecentPosts } from '@/lib/data-utils'
import AuthorCard from '@/components/AuthorCard.astro'
import Analytics from '@vercel/analytics/astro'

const blog = await getRecentPosts(SITE.featuredPostCount)
const author = await getAuthorById('vitoesposito')
---

<Layout class="max-w-3xl">
  <Analytics />
  <PageHead slot="head" title="Home" />

  <section>
    { author && <AuthorCard author={author} /> }

    <div class="prose mt-4">
      <p class="mt-0">
        Sviluppatore <strong>Front-end</strong> e <strong>UI designer</strong>
        con una solida formazione in Graphic design e una forte passione per l’informatica.
      </p>
      <p class="mt-0">
        Impegnato in un costante percorso di crescita nel campo dello sviluppo web, collaboro efficacemente in team Agile attraverso strumenti di gestione collaborativa dei progetti e versionamento del codice.
      </p>
      <p class="mt-0 mb-0">
        Esperto nella progettazione e nello sviluppo di interfacce web responsive per sistemi gestionali ed e-commerce.
      </p>
    </div>
  </section>


  <section class="flex flex-col gap-y-4">
    <h2 class="text-2xl font-medium">Gli ultimi post</h2>
    <ul class="flex flex-col gap-y-4">
      {
        blog.map((post) => (
          <li>
            <BlogCard entry={post} />
          </li>
        ))
      }
    </ul>
    <div class="flex justify-center">
      <Link
        href="/blog"
        class={buttonVariants({ variant: 'ghost' }) + ' group'}
      >
        Tutti i post<span
          class="ml-1.5 transition-transform group-hover:translate-x-1"
          >&rarr;</span
        >
      </Link>
    </div>
  </section>
</Layout>
