---
import { Link } from "./ui/link";
import { SOCIAL_LINKS } from "../consts";

const today = new Date();
---

<footer class="mx-auto flex max-w-3xl justify-between gap-2 px-4 py-4 text-sm">
	<span>
		&copy; {today.getFullYear()} Tutti i diritti riservati. ·
		<Link href="/privacy-policy">Privacy Policy</Link>
	</span>

	<div class="flex gap-2">
		{
			SOCIAL_LINKS.map(({ href, label, icon }) => (
				<Link
					href={href}
					aria-label={label}
					title={label}
					icon={icon as any}
					external
				/>
			))
		}
	</div>
</footer>
