---
import EducationCard from '@/components/EducationCard.astro'
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllEducation, groupEducationByYear } from '@/lib/data-utils'

const allEducation = await getAllEducation()
const educationByYear = groupEducationByYear(allEducation)
const years = Object.keys(educationByYear).sort((a, b) => parseInt(b) - parseInt(a))
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="Formazione" />
  <Breadcrumbs items={[{ label: 'Formazione', icon: 'lucide:graduation-cap' }]} />

  <div class="flex min-h-[calc(100vh-18rem)] flex-col gap-y-8">
    {
      years.length > 0 ? (
        years.map((year) => (
          <section class="flex flex-col gap-y-4">
            <div class="font-medium">{year}</div>
            <ul class="flex flex-col">
              {educationByYear[year].map((post, index) => {
                const isFirst = index === 0
                const isLast = index === educationByYear[year].length - 1
                const cardClass = `${isFirst ? 'rounded-tl-xl rounded-tr-xl' : 'rounded-t-none'} ${isLast ? 'rounded-bl-xl rounded-br-xl' : 'rounded-b-none'} ${!isFirst ? 'border-t-0 -mt-[1px]' : ''}`
                return (
                  <li>
                    <EducationCard entry={post} cardClass={cardClass} />
                  </li>
                )
              })}
            </ul>
          </section>
        ))
      ) : (
        <p class="text-muted-foreground text-center">Nessun contenuto di formazione trovato.</p>
      )
    }
  </div>
</Layout>

